<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login", method="post">
        <input type="text" name="username" id="username" placeholder="Enter Username" required>
        <input type="text" name="password" id="password" placeholder="Enter Password" required>
        <button>Login</button>
    </form>
    <br>
    <a href="/signupPage"><button>Register</button></a>
</body>
</html>